:root {
    --page-width: 2400px;
}

.page {
    width: var(--page-width);
}

.weightsContainer {
    overflow: visible;
}

.weightLine {
    stroke-dasharray: 9 1;
    stroke-dashoffset: 1;
    animation: 0.5s linear 0s infinite flowing;
    -webkit-animation: 0.5s linear 0s infinite flowing;
}

@keyframes flowing {
    from { stroke-dashoffset: 0; } to { stroke-dashoffset: 10; }
}
@-webkit-keyframes flowing {
    from { stroke-dashoffset: 0; } to { stroke-dashoffset: 10; }
}